<!DOCTYPE html>

<html>



<head>

	<meta charset="utf-8">
        <title>Black Goose Bistro</title>
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet" />
        <link href=StyleSheet.css" rel="stylesheet" />
        <style></style
        
</head>
       
        body 
             
           {

          background-color: lightblue;

          margin: 0 10%;

          font-family: sans-serif;

          } 
          
         h1 {

           text-align: center;

           font-family: monospace;

           font-weight: normal;

           text-transform: uppercase;

           border-bottom: 1px solid #57b1dc;

           margin-top: 30px;

         }

         h2 {

            color: blue;

            font-size: 1em;

         }

</head>



<body>

<h1><img src="blackgoose.png" alt="logo"><br>Black Goose Bistro</h1>




<h2>The Restaurant</h2>

<p>The Black Goose Bistro offers casual lunch and dinner fare in a relaxed atmosphere. The menu changes regularly to highlight the <br>freshest local ingredients.</p>



<h3>Catering</h3>

<p>You have fun. <em>We'll handle the cooking</em>. Black Goose Catering can handle events from snacks for a meetup to elegant corporate <br>fundraisers.</p>



<h4>Location and Hours</h4>

Seekonk, Massachusetts;

Monday through Thursday 11am to 9pm; <br>Friday and Saturday, 11am to midnight



<h5>Customer Review</h4>
<p> Black goose is the place to go eat! Jaz.P

<h6>
    <center>
    <a href="index.html">Home</a>
    <a href="about.html">About</a>
    <a href="menu.html">Menu</a>
    <a href="blog.html">Blog</a>
    <a href="contact.html">Contact</a>
    </center>
</body>

</html>  